<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<title>Gerenciamento de Carros da ${sessionScope.usuarioLogado.email}</title>
</head>
<script>
	function filterFunction() {
	  // Declare variables
	  var input, filter, table, tr, td, i, txtValue;
	  input = document.getElementById("modelFilter");
	  filter = input.value.toUpperCase();
	  table = document.getElementById("tabelaCarros");
	  tr = table.getElementsByTagName("tr");
	
	  // Loop through all table rows, and hide those who don't match the search query
	  for (i = 0; i < tr.length; i++) {
	    td = tr[i].getElementsByTagName("td")[1];
	    if (td) {
	      txtValue = td.textContent || td.innerText;
	      if (txtValue.toUpperCase().indexOf(filter) > -1) {
	        tr[i].style.display = "";
	      } else {
	        tr[i].style.display = "none";
	      }
	    }
	  }
	}
</script>
<body>
	<div align="center">
		<h1>Gerenciamento de Carros da ${sessionScope.usuarioLogado.email}</h1>
		<h2>
			<a href="@{/loja}">Menu Loja</a>
			<a href="@{/carros/cadastro">Adicione Novo Carro</a>
		</h2>
	</div>

	<div align="center">
	<input type="text" id="modelFilter" onkeyup="filterFunction()" placeholder ="Procure pelo modelo">
		<table id="tabelaCarros" border="1">
			<caption>Lista de Carros</caption>
			<tr>
				<th>ID</th>
				<th>modelo</th>
				<th>Loja</th>
				<th>placa</th>
				<th>Ano</th>
				<th>Quilometragem</th>
				<th>Descrição</th>
				<th>Valor</th>
				<th>Ação</th>
			</tr>
				<tr th:each="carro : ${carro}">
					<td th:text="${carro.id}"></td>
					<td th:text="${carro.loja.nome}"></td>
					<td th:text="${carro.placa}"></td>
					<td th:text="${carro.modelo}"></td>
					<td th:text="${carro.chassi}"></td>
					<td th:text="${carro.ano}"></td>
					<td th:text="${carro.quilometragem}"></td>
					<td th:text="${carro.descricao}"></td>
					<td th:text="${carro.valor}"></td>
					<td><a href="@{/logado/loja/listaProposta/{id} (id=${carro.id}) }">Propostas</a></td>
				</tr>
		</table>
	</div>
</body>
</html>